html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

:root {
    --whiteish: #F4F5F7;
    --color1: rgb(50, 62, 72);
    --color2: rgb(173, 71, 62);
}


a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: var(--color1);
        background: var(--whiteish);
    }
}
