html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    color: var(--color1);

    scrollbar-width: none; // hide scrollbar Firefox
}

::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none; // mobile?
    -ms-overflow-style: none;
}

:root {
    --whiteish: #F4F5F7;
    --color1: rgb(50, 62, 72);
    --color2: rgb(173, 71, 62);
}

a {
    color: var(--color2)
}

* {
    box-sizing: border-box;
}

#scroll-progress {
    position: fixed;
    top: 0;
    right: 4px;

    // border-radius: 20px;
    background: var(--color1);

    transition: top 1s;


    z-index: 98;
}


h1, h2, h3, h4{
    margin: 0;
    line-height: 1.15;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.15rem;
    }

}


// * { 
//     border: blue 1px solid; // debug layout
// }