.introSection {
    position: relative;
    height: 800px;
    padding-top: 50px;
    border-bottom: solid 1px var(--color1);
}


.introSection > h1 {
    padding-top: 48px;
}

.introSection > h1,
.introSection > h3 {
    margin-left: 10% ;
    pointer-events: none;
}

.imgBorder{
    position: absolute;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 300px;
    height: 300px;
    left: calc(60%);
    bottom: calc(30%);
    border: 1px solid green;
    z-index: -99;
}