.introSection {
    position: relative;
    height: 100vh;
    padding-top: 50px;
    border-bottom: solid 1px var(--color1);

    * {
        pointer-events: none;
    }
}
.introTitle{
    position: absolute;
    bottom: 45%;
    left: 8%;
    h1 {
        padding-top: 48px;
    }
}