.section1 {
    position: relative;
    height: 600px;
    // scroll-snap-align: start;

    padding-top: 50px
}


.section1 > h1 {
    padding-top: 48px;
}

.section1 > h1,
.section1 > h3 {
    margin-left: 10% ;
}

.imgBorder{
    position: absolute;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 300px;
    height: 300px;
    left: calc(60% + 8px);
    bottom: calc(20% + 8px);
    border: 1px solid green;
    z-index: -99;
}