@mixin middle() {
    left: 50%;
    transform: translateX(-50%);
}

.introSection {
    position: relative;

    height: 100vh;
    min-height: 600px;
    padding-top: 50px;

    * {
        pointer-events: none;
        user-select: none;
    }
}

.introTitle {
    position: absolute;
    width: max-content;
    text-align: center;

    @media (max-width: 1200px) {
        bottom: 70%;
        @include middle();
    }

    bottom: 45%;
    left: 8%;

    h1 {
        padding-top: 48px;
    }
}

// todo flexbox ?  wont work with eye tracking
.introImg,
.introImgEyeL,
.introImgEyeR {
    position: absolute;
    pointer-events: initial;

    bottom: calc(50% - calc(var(--img-size) / 2));
    border-radius: 25%;
    transition: transform 0.3s;
    left: 60%;

    @media (max-width: 1200px) {
        @include middle();
        bottom: calc(40% - calc(var(--img-size) / 2));
    }
}

.callToAction {
    position: absolute;
    color: #cd5c5cba;
    font-size: 0.8rem;
    bottom: calc(50% - calc(var(--img-size) / 2) - 18px);
    left: calc(60% + var(--img-size) - var(--img-size) / 1.5);
    width: max-content;

    @media (max-width: 1300px) {
        left: calc(60% + var(--img-size) - var(--img-size) / 1.25);
    }

    @media (max-width: 1200px) {
        @include middle();
        bottom: calc(40% - var(--img-size) + var(--img-size) / 2.3);
    }
}

.introImgEyeL {
    transform: translate(var(--img-x-l, 0px), var(--img-y-l, 0px));

    @media (max-width: 1200px) {
        left: 50%;
        transform: translateX(-50%) translate(var(--img-x-l, 0px), var(--img-y-l, 0px));
    }
}

.introImgEyeR {
    transform: translate(var(--img-x-r, 0px), var(--img-y-r, 0px));

    @media (max-width: 1200px) {
        left: 50%;
        transform: translateX(-50%) translate(var(--img-x-r, 0px), var(--img-y-r, 0px));
    }
}
