.nav {
    height: 63px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;

    border-bottom: solid 1px var(--color1);
    width: 100%;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 200ms ease-in-out;
    background-color: var(--whiteish);

    background-image: url("../public/noise.webp");
    background-size: 380px auto;
    z-index: 99;
    #github{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
        height: 40px;
        path{
            fill: var(--color1);
        }
    }
}

.hover{
    box-shadow: 0 0.2em 0.2em #14303f33;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li a {
    padding: 5px 15px;
}

.nav ul li :hover {
    background-color: black;
}
