.projectContainer {
    display: flex;
    margin-inline: 10%;
    border-bottom: 1px solid var(--color2);

}

.projectInfo {
    margin-block: 50px;
    // border-bottom: 1px solid var(--color2);

    width: 40%;
}

.stack {
    margin-block: calc(50px + 8px);
    margin-left: 10%;
}

.stackItem {
    transition: 2s;
    padding-left: 4px;
}