@media only screen and (max-width: 1010px) {
    .projectContainer{
        --stack-factor: 1;
        margin-inline: 24px;
    }   
}

@media (min-width: 1010px) {
    .projectContainer{
        --stack-factor: 1.5;
        margin-inline: 8%;
    }   
}

@media (min-width: 850px) {
    .projectContainer{
        display: flex;
    }   
    .projectInfo{
        width: 50%;
    }
    .stack {
        margin-left: 10%;
    }
}

.projectContainer {
    padding-inline: 24px;
    border-bottom: 1px solid var(--color2);

    &Left{
        border-left: 1px solid var(--color2);
    }
    &Right{
        border-right: 1px solid var(--color2);
    }
}

.projectInfo {
    padding-block: 48px;
}

.stack {
    padding-block: calc(50px + 8px);
    @media only screen and (max-width: 1010px) {
        padding-top: 0;
    }

    margin-left: 10%;
}

.stackItem {
    transition: 2s;
    padding-left: 4px;
}