.projectContainer {
    display: flex;
    margin-inline: 10%;
}

.projectInfo {
    margin-block: 50px;
    border-bottom: 1px solid var(--color2);

    width: 40%;
}

.stack {
    margin-block: 50px;
    margin-left: 10%;
}

.stackItem {
    &:before {
        content: attr(data-value);
    }

    transition: 2s;
    padding-left: 4px;
}